@import "tailwindcss";

@theme inline {
  --color-creme: #FAF7F2;
  --color-gold: #D4AF37;
  --color-brown: #5A3E2B;
}

body {
  background-color: var(--color-creme);
  color: var(--color-brown);
  font-family: Arial, Helvetica, sans-serif;
}
